
/*Heavily draws from https://codepen.io/blazzard-jason/pen/GVOVOm*/
/* phone */
	main {
		max-width: 767px;
		grid-template-columns: 1fr;
		font-size: 0.8rem;
		margin: 0 auto;
		display: grid;
		
	}

	main section h2 {
		color: #536878;
	}

	main section {
		margin: 0.5rem;
		padding: 0 1rem;
		background-color: #eee;
		border: 1px solid #aaa;
		
	}

	main section:nth-child(2) {
		margin: 0.5rem;
	}

	.colimage {
		box-shadow: 0 0 10px #333;
	}

/* Tablet */
@media only screen and (min-width: 37.5em) {
	
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		height: auto;
		border: 1px solid #aaa;
		width: 100%;
	
	}
}

/* Desktop*/
@media only screen and (min-width: 60em) {

	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}