
body {
        width: 80%;
        margin: auto;
        background-color: #DDF;
        font-family: 'Roboto', sans-serif;
    }
img {
        max-width: 100%;
        border-radius: 1px 1px 0 0;
        filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.85));
  }
h1 {
        font-size: 2em;
        font-family: 'Hachi Maru Pop', cursive;
        padding: 0 1rem 0 1rem;
  }
h2 {
        font-size: 1.5em;
        text-align: center;
        font-family: 'Hachi Maru Pop', cursive;
  }
header, main, footer {
        margin: 1.25rem auto;
        padding: .5rem;
        max-width: 50em;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 3px;
  }
header {
        background-color: #66A;
  }
footer {
        background-color: #66A;
  }
a {
        color:rgb(50, 76, 124)56)
  }
p {
        padding: 0 1rem 0 1rem;
  } 
button {
        background-color: white;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 1rem;
        float: left;
        padding: .25rem .5rem .25rem .5rem;
        border: 2px solid #888
  }

#portrait1 {
        width:220px;
        height:220px; 
        float: right;
        z-index: 10;
  }
      
