
body {
        width: 80%;
        margin: auto;
        background-color: #DDF;
        font-family: 'Roboto', sans-serif;
    }
img {
        max-width: 100%;
        border-radius: 1px 1px 0 0;
        image-rendering: auto;
  }
h1 {
        font-size: 2em;
        font-family: 'Hachi Maru Pop', cursive;
        padding: 0 1rem 0 1rem;
  }
h2 {
        font-size: 1.5em;
        text-align: center;
        font-family: 'Hachi Maru Pop', cursive;
  }
header, main, footer {
        margin: 1.25rem auto;
        padding: .5rem;
        max-width: 50em;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 3px;
  }
header, footer {
        background-color: #446;
        color: #FFF;
  }
a {
        color:rgb(50, 76, 124);
  }
header a, footer a {
  color: rgb(149 179 234);
}
footer {
  text-align: center;
}
p {
        padding: 0 1rem 0 1rem;
  } 
button {
        background-color: white;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 1rem;
        float: left;
        padding: .25rem .5rem .25rem .5rem;
        border: 2px solid #888
  }

#portraitPortal {
        width:220px;
        height:220px; 
        float: right;
        z-index: 10;
        filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.85));
  }
#mobileScreen {
    width:220px;
    float: right;
    padding: 2.5em;
}
#mobileScreenLeft {
  width:220px;
  float: left;
  padding: 2.5em;
}
#container {
  overflow:auto;
}
      
