picture-img[data-src]{
    filter: blur(0.2em);
    }

picture img{
     filter: blur(0em);
     transition: filter 0.5s;
    }
.gallery body{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.gallery picture{
    display: block;
    
}