
/*Large Size*/
@media only screen and (min-width: 58em) {

    nav ul {
        display: flex; 
    }
  
    nav ul li {
        flex: 1 1 100%;
    }
    nav ul li a{
      font-size: 2em;
  }
  
    footer {
      padding-top: .3em;
  
        margin: 0 auto;
  width: 80%
    }
  .container{
    width: 80%
  }
  h1{
   color: white;
  padding-top: 1em;
  font-size: 3em;
  }
  h2{
   color: white;
  background-color: #7F889F;
  }
  h3{
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    color: white;
  
  }
    .switcher{
      display:none;
    }
    .mobileMenu{
    width: 100%;
    background-color: #FFF;
      display:none;
  }