.cards{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    padding: 20px;
    background-color: #6b83a8;
    margin: 0;
    place-content: center;
}

section{
    background-color: #96b5e4;
    border: 2px solid #c2d7f7;
    padding: 5px;
}

p{
    text-align: center;
    font-family: 'Josefin Slab', serif;
}
h1{
    color: #242035;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}
h2{
    text-align: center;
    color: #242035;
    font-family: 'Josefin Slab', serif;

}
footer{
    color: #242035;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
img{
    display:block;
    box-shadow: 0 0 20px rgb(54, 54, 54);
    width:210px;
    margin: 10px auto;
}


footer{
    margin: 0 auto;
}

@media screen and (max-width:60em){
    .cards{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 32.5em){
    .cards{
        display: block;
    }

    section{
        padding: 5px;
    }
}