
 /*Medium Size*/
 @media only screen and (min-width: 32.5em) and (max-width: 58em) {
  
    nav ul {
        display: flex; 
    }
  
    nav ul li {
        flex: 1 1 100%;
    }
     nav ul li a{
        font-size: 1.2em;
    }

    img{
      width: 8em;
      height: auto;
    }
  
    footer {
  padding-top: .3em;
  margin: 0 auto;
  width: 100%
    }
  .container{
    width: 100%
  }
  h1{
   color: white;
  font-size: 2em;
  }
  h2{
   color: white;
  background-color: #7F889F;
  }
  h3{
    font-family: 'Josefin Slab', serif;
    font-size: 1.2em;
    color: white;
  
  }
  .mobileMenu{
      display:none;
  }
  .heroDiv{
    position: absolute;
    border-radius: 5px;
      background-color: rgba(0,0,0,0.7);
      width: 15em;
      top: 35%;
      left: 5%;
      padding: 5px;
      color: white;
  }