body{
    background-color: #ffceb4;
    margin:0px;
}
p{
    font-family: 'Architects Daughter', cursive;
}
div{
    font-family: 'Roboto', sans-serif;
}
div p{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/banner.png);
    background-size: cover;
    width: 100%;
    margin: 0;
    font-size: 4rem;
    height: 10rem;
    padding-top: 3rem;
}
h3{
    color: #fff;
    font-family: 'New Tegomin', serif;
    background-color: #EAB464;;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -7px 9px rgba(45, 45, 45, 0.5)
}
footer{
    color: #fff;
    background-color: #021D27;
    display: flex;
}
footer p{
    color: #fff;
    flex: 1 1 100%;
    text-align: center;
}
a{
    color: #fff;
    text-decoration: none;
}
.logo{
    width: 9em;
    height: auto;
    float: left;
    padding: 2rem;
  }
  header{
      padding: 0px;
  }
  #currentweather{
      float:right;
      color:#fff;
      padding: 3rem;
      padding-left: 0px;
  }
  #currentweather p{
    line-height: 0px;
}
.slogan{
    font-size: 2rem;
}
.featured{
    display: flex;
    width: 1230px;
    margin: auto;
}
.featured div{
    flex: 1 1 100%;
    background-color: #555;
    box-shadow: 0px 0px 4px #222;
    margin: 5px;
    color: #fff;
    text-align: center;
}
.footer img {
    width: 64px;
    height: 64px;
}
/*Navigation*/

.active{
    background-color: #b5569e;
}
nav ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }

nav ul li {
    flex: 1 1 100%;
}


  nav ul li a {
    background-color: #ef7969;;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    font-size: 2em;
    display: block;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px #222;
}
.featuredEvents{
    display:flex;
}

.featuredEvents div{
    flex: 1 1 100%;
    background-color: rgba(0,0,0,.6);
    box-shadow: 0px 0px 4px #222;
    margin: 5px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.paragraph{
    font-family: 'Architects Daughter', cursive;
}