body{
    background-color: #D6D0DC;
}
p{
    font-family: 'Architects Daughter', cursive;
}
div{
    font-family: 'Roboto', sans-serif;
}
div p{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url("banner.png");
    width: 100%;
    margin: 0;
    font-size: 3rem;
    height: 4rem;
    padding-top: 1rem;
}
h3{
    color: #fff;
    font-family: 'New Tegomin', serif;
    background-color: #FB4D3D;
    width: 100%;
    margin: 0;
}
footer{
    color: #fff;
    background-color: #021D27;
}
nav{
    background-color: #EAB464;
}
.logo{
    width: 5em;
    height: auto;
    float: left;
  }
  header{
      padding: 0px;
  }