body{
    background-color: #ffceb4;
    margin:0px;
}
p{
    font-family: 'Architects Daughter', cursive;
}
div{
    font-family: 'Roboto', sans-serif;
}
div p{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/banner.png);
    background-size: cover;
    width: 100%;
    margin: 0;
    font-size: 4rem;
    height: 10rem;
    padding-top: 3rem;
}
h3{
    color: #fff;
    font-family: 'New Tegomin', serif;
    background-color: #EAB464;
    width: 1200px;
    margin:auto;
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -7px 9px rgba(45, 45, 45, 0.5)
}
footer{
    color: #fff;
    background-color: #021D27;
    min-height: 120px;
}
a{
    color: #fff;
    text-decoration: none;
}
.logo{
    width: 9em;
    height: auto;
    float: left;
    padding: 2rem;
  }
  header{
      padding: 0px;
  }
  #currentweather{
      float:right;
      color:#fff;
      padding: 3rem;
      padding-left: 0px;
  }
  #currentweather p{
    line-height: 0px;
}
.slogan{
    font-size: 2rem;
}
.featured{
    display: flex;
    width: 1230px;
    margin: auto;
}
.featured div{
    flex: 1 1 100%;
    background-color: #555;
    box-shadow: 0px 0px 4px #222;
    margin: 5px;
    color: #fff;
    text-align: center;
}

.footer img {
    width: 64px;
    height: 64px;
}
/*Navigation*/

.active{
    background-color: #b5569e;
}
nav ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }

nav ul li {
    flex: 1 1 100%;
}


  nav ul li a {
    background-color: #ef7969;;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    font-size: 2em;
    display: block;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px #222;
}
.featuredEvents{
    display:flex;
}

.featuredEvents div{
    flex: 1 1 100%;
    background-color: rgba(0,0,0,.6);
    box-shadow: 0px 0px 4px #222;
    margin: 5px;
    color: #fff;
    text-align: center;
    border-radius:5px;
}


.featuredEvents p{
    margin: 1px;
}
.paragraph{
    font-family: 'Architects Daughter', cursive;
    margin: 8px;
    text-align: left;
    padding: 12px;
}
section{
    width: 1200px;
    margin: auto;
    background-color: #ffd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top:20px;
}
.citydescription div{
    height: 490px;
}
.citydescription div div{
    padding: 20px;
}
.citydescription img{
    float: left;
    padding: 20px;
}
.citydescription div:nth-child(2) img{
    float: right;
}
.citydescription a{
    color: #555;
    font-family: 'Roboto', sans-serif;
}
.citydescription p{
    font-family: 'Architects Daughter', cursive;
}
label{
    width: 60%;
    display: grid;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.bubbleform label{
    display: block;
    width: 100%;
    margin: auto;
}
.bubbleform{
    display: flex;
    width: 60%;
    margin: auto
}
input{
    height: 30px;
    border-radius: 5px;
}
h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
form{
    padding: 20px
}
input[type="submit"] {
    width: 560px;
}
section.featured {
    background: none;
}
.levels
{
    text-align: center;
    width: 80%;
    margin: auto;
}
iframe {
    float: left;
    margin: 20px;
}
#contactSubmit{
    margin-left: 77px;
}
.sectionmap{
    height: 670px;
    padding-top: 20px;
}
.eventMonth{
    font-size: 3rem;
}
.eventDay{
    font-size: 3rem;
}
.footerContact{
    display:flex
}
.footerContact p{
    color: #fff;
    flex: 1 1 100%;
    text-align: center;}
.footerContact a{
    color: #fff;}
.footerCredit p{
    text-align: center;}
.footerSocial{
    position: absolute;
    right: 0;
}
.threeForecast{
    display:flex;
}
.threeForecast div{
    display:flex;
    flex: 1 1 100%;
}