@media only screen and (min-width: 800px) and (max-width: 1500px) {
h1{
    font-size: 2rem;
    height: 7rem;
    padding-top: 3rem;
    text-align: center;
}
.slogan{
    font-size: 1rem;
}
#currentweather {
    padding: 1rem;
}
.logo {
    width: 6em;
    padding: 2rem;
}
.featured img{
    width:100%;
}
.featured {
    width:100%;
}
.footer p{
    margin: 0px;
}
}