@media only screen and (max-width: 800px) {
h1{
    font-size: 2rem;
    height: 9rem;
    padding-top: 8rem;
    text-align: center;
}
.slogan{
    font-size: .7rem;
}
#currentweather {
    padding: 0rem;
}
.logo {
    width: 6em;
    padding: 1rem;
}
.featured img{
    width:100%;
}
.featured {
    width:50%;
    display: block;
}
nav ul{
    display: block;
}
nav ul li{
    width: 50%;
    float: left;
}
#home {
    width:100%
}
.footer img {
    width: 64px;
    height: 64px;
}
}