@media only screen and (max-width: 800px) {
h1{
    font-size: 2rem;
    height: 9rem;
    padding-top: 8rem;
    text-align: center;
}
.slogan{
    font-size: .7rem;
}
#currentweather {
    padding: 0rem;
}
.logo {
    width: 6em;
    padding: 1rem;
}
.featured img{
    width:100%;
}
.featured {
    width:75%;
    display: block;
}
nav ul{
    display: block;
}
nav ul li{
    width: 50%;
    float: left;
}
#home {
    width:100%
}
footer p{
    margin: 0px;
}
section{
    width:100%;
}
h3{
    width:100%;
}
.citydescription img {
    width:100%;
    float:none;
    padding:0px;
}
.citydescription div {
    height: auto;
}
label{
    width: 100%;
}
iframe{
    float:none;
    width: 100%;
    margin: 0px;
}
.sectionmap{
    height: auto;
  
}
input[type="submit"] {
    width:auto;
}
.featuredEvents {
    display:block;
    padding-top: 20px;
    padding-bottom: 10px;
}
footer{
    min-height: 105px;
}
.switchview{
    display:none;
}

}