@media only screen and (max-width: 800px) {
h1{
    font-size: 2rem;
    height: 9rem;
    padding-top: 8rem;
    text-align: center;
}
.slogan{
    font-size: .7rem;
}
#currentweather {
    padding: 0rem;
}
.logo {
    width: 6em;
    padding: 1rem;
}
.featured img{
    width:100%;
}
.featured {
    width:100%;
}
}